@model Photo_WebApp.Models.Album

<form asp-action="AddAlbum" asp-controller="Home" method="post">
    <p>
        <label asp-for="Name">Название альбома</label>
        <input type="text" asp-for="Name" class="form-control" />
    </p>
    <div>
        <p></p>
        <input type="submit" value="Добаить фото" class="btn btn-primary" />
    </div>
</form>