@using Microsoft.AspNetCore.Http;
@model List<Album>


@foreach (Album p in Model)
{
    <p>
        @Html.ActionLink(p.Name, "ViewAlbun", "Home", new { id = p.Id })
        @if (Context.Session.GetString("Username") != null)
        {
        @if ((Int32.Parse(Context.Session.GetString("UserId")) == p.UserId))
            {
                 @Html.ActionLink("Редактировать альбом", "EditAlbum", "Home", new { id = p.Id })
            }
        }

    </p>
}
