@model List<Photo>

@foreach (var p in Model)
{
<div>
    <h4>@p.Name</h4>
    @if (p.ImageData != null)
    {
        <img class="popup_fast" id="@p.Id" onclick="this.className = (this.className == 'popup_fast' ? 'popup_fast_block' : 'popup_fast')" src="data:image/jpeg;base64,@(Convert.ToBase64String(p.ImageData))" />
    }

       
</div>
}  


<script type="text/javascript">
    function ViewPhoto(id)
    {
        var AlbumId = @ViewBag.Id;
        var PhotoId = id;

        $('.popup_fast').
       
    }
</script>